body,
html {
    margin: 0;
    padding: 0;
    background: url("../img/background1.jpg") fixed;
    background-size: cover;
    color: #CFC9BD;
}

img,
embed,
object,
video {
    max-width: 100%;
}

.container {
    display: grid;
    position: relative;
    grid-template: 10% repeat(5, 16%) 10% / 1fr;
    grid-template-areas: "header"
                         "project-1"
                         "project-2"
                         "blog"
                         "project-3"
                         "project-4"
                         "footer";
}


/* Header */
.site-header {
    z-index: 7;
    background-color: rgba(54, 49, 39, .9);
    padding: 10px;
    grid-area: header;
    justify-items: center;
    display: grid;
    grid-template: 50% 50% / 20% 60% 20%;
    grid-template-areas: "logo name hamburger"
                         "logo skills hamburger";
}

.logo {
    width: 60px;
    border-radius: 50%;
    grid-area: logo;
    border: 2px solid rgba(207, 201, 189, 0.5);
    box-shadow: 2px 3px 11px rgba(3, 2, 0, 0.64);
}

.site-navigation {
    grid-area: hamburger;
    /*color: #CFC9BD;*/
}

#menu {
    font-size: 2.4rem;
}

.menu-container {
    display: inline-block;
    cursor: pointer;
}

/* make bars */
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #CFC9BD;
    box-shadow: 2px 1px 11px rgba(3, 2, 0, 0.64);
    margin: 6px 0;
    transition: 0.4s;
}

/* animate bars to X */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.hamburger:hover {
    background-color: rgba(233, 211, 95, .5);
}

.hamburger:active {
    background-color: rgba(106, 118, 131, .5);
    color: #fff;
    box-shadow: none;
}

.site-name {
    grid-area: name;
    justify-self: center;
    /*margin-bottom: 0;*/
    color: #CFC9BD;
    font-size: 1.2rem;
}

.skills {
    grid-area: skills;
    justify-self: center;
    /*margin: 5px;*/
    color: #CFC9BD;
    font-size: .8rem;
}

/* Hamburger navigation */
.header-menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1rem;
}

.nav {
    /*z-index: 3;*/
    background-color: rgba(54, 49, 39, 1);
    width: 84vw;
    position: absolute;
    border: 1px solid #CFC9BD;
    /* Transform moves the drawer off canvas. */
    transform: translate(0, -450px);
    /* Animate the drawer */
    transition: transform 0.3s ease;
}

.nav-list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav-item {
    box-sizing: border-box;
    display: list-item;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: left;
    line-height: 1rem;
    padding: 24px;
    font-size: 1.3rem;
}

.nav a {
    text-decoration: none;
    color: #CFC9BD;
    padding: 1.5rem;
}

.nav a:hover {
    text-decoration: underline;
    color: green;
}

.nav.open {
    transform: translate(0, 0);
}


/* Content */
.proj-container {
    border: 1px solid rgba(54, 49, 39, .8);
    background-color: rgba(54, 49, 39, .8);
    margin: 6%;
    display: grid;
    grid-template: 41% 13% 13% 13% / 100%;
    grid-template-areas: "image"
                         "title"
                         "highlight"
                         "text"
                         "button";
    padding: 15px;
}

.blog-container {
    border: 1px solid rgba(54, 49, 39, .8);
    background-color: rgba(54, 49, 39, .8);
    margin: 6%;
    display: grid;
    grid-template: 41% 13% 13% 13% / 50% 50%;
    grid-template-areas: "image title"
                         "highlight highlight"
                         "text text"
                         "button button";
    padding: 15px;
}

.project-1 {
    grid-area: project-1;
    /*padding: 10px;*/
}

.proj-img {
    grid-area: image;
    justify-self: center;
    border: 4px inset rgba(207, 201, 189, 0.5);
    box-shadow: 2px 3px 11px rgba(3, 2, 0, 0.64);

}

.proj-heading {
    grid-area: title;
    justify-self: center;
    text-transform: uppercase;
}

.proj-highlight {
    grid-area: highlight;
    justify-self: left;
}

.proj-text {
    grid-area: text;
    justify-self: left;
}

.button {
    grid-area: button;
    border: 1px solid black;
    border-radius: 20px;
    justify-self: center;
    background-color: rgba(207, 201, 189, 1);
    box-shadow: 2px 3px 11px rgba(3, 2, 0, 0.72);
    font-size: 1.5rem;
    color: rgba(0, 0, 0, .8);
    margin: 10px;
    padding: 8px 15px;
    outline: none;
}

.button:hover {
    background-color: rgba(233, 211, 95, .5);
}

.button:active {
    background-color: rgba(106, 118, 131, .5);
    color: #fff;
    box-shadow: none;
}

.project-2 {
    grid-area: project-2;
}

.blog-img {
    width: 25vw;
    border-radius: 50%;
    border: 2px solid rgba(207, 201, 189, 0.5);
    box-shadow: 2px 3px 11px rgba(3, 2, 0, 0.64);

}

.blog {
    grid-area: blog;
}

.project-3 {
    grid-area: project-3;
}

.title-highlight {
    color: orange;
}
.project-4 {
    grid-area: project-4;
}


/* Footer */
.footer {
    grid-area: footer;
    background-color: rgba(54, 49, 39, .9);
}