/* media-query for iPad (768 x 1024) */
@media screen and (min-width: 767px) {
    .site-header {
        grid-template: 30% 55% 15% / 20% 60% 20%;
        grid-template-areas: "logo name hamburger"
                             "logo skills hamburger";
    }

    .logo {
        width: 75px;
    }

    .site-name {
        font-size: 2rem;
    }

    .skills {
        font-size: 1.2rem;
    }

    .nav-item {
        line-height: 1rem;
        padding: 24px;
        font-size: 1.3rem;
    }

    .proj-container {
    grid-template: 25% 25% 25% 25% / 50% 50%;
    grid-template-areas: "image title"
                         "image highlight"
                         "image text"
                         "button text";
    }

    .blog-container {
        grid-template: repeat(4, 25%) / 50% 50%;
        grid-template-areas: "image title"
                             "image highlight"
                             "image text"
                             "button text";
    }

    .proj-heading {
        margin-bottom: 0;
    }

    .proj-highlight {
        justify-self: center;
        padding: 0  1.2rem;
    }

    .proj-text {
        justify-self: left;
        padding: 0  1.2rem;
    }

    .blog-heading {
        margin-bottom: 0;
    }

    .blog-highlight {
        justify-self: center;
        padding: 0  1.2rem;
    }

    .blog-text {
        justify-self: left;
        padding: 0  1.2rem;
    }

    .button {
        justify-self: stretch;
        margin: 20px 0 7px;
    }

    .blog-button {
        padding: 0;
    }

    .header-menu {
        padding: 2rem;
    }
}

/* media-query for iPad Pro (1024 x 1366)*/
@media screen and (min-width: 1023px) {
    .main-container {
        grid-template: 10% repeat(4, 16%) 10% / 60% 40%;
        grid-template-areas: "header header"
                             "project-1 blog-move"
                             "project-2 blog-move"
                             "project-3 project-list"
                             "project-4 ."
                             "footer footer";
    }

    .site-header {
        justify-items: start;
        padding: 20px;
        grid-template: 65% 35% / 20% 80% ;
        grid-template-areas: "logo name"
                             "logo skills";
    }

    .blog-container {
        border: 1px solid rgba(54, 49, 39, .8);
        background-color: rgba(54, 49, 39, .8);
        margin: 9% 6%;
        display: grid;
        grid-template: 30% 20% 35% 15% / 50% 50%;
        grid-template-areas: "image title"
                             "highlight highlight"
                             "text text"
                             "button button";
        padding: 15px;
    }

    .logo {
        width: 100px;
        border-radius: 50%;
    }

    .site-name {
        justify-self: self-end;
        /*padding: 0 20px;*/
        font-size: 2.5rem;
        margin: 10px 10px 3px;
    }

    .skills {
        justify-self: self-end;
        /*padding: 0 20px;*/
        font-size: 1.7rem;
        margin: 0 10px;
    }

    .header-menu {
        display: none;
    }

    .topic-container {
        grid-area: project-list;
        display: flex;
        flex-direction: column;
        justify-content: start;
        border: 1px solid rgba(54, 49, 39, .8);
        background-color: rgba(54, 49, 39, .8);
        margin: 6%;
        padding: 15px;
    }

    .topic-instructions {
        padding: 10px 38px 0;
        margin: 0;
    }

}
